{% if quotes is not empty %}
    <table class="table table-striped table-hover table-bordered table-responsive"
           style="table-layout: fixed; width: 100%">
        <thead>
        <tr>
            <th style="width: 40px;" scope="col">#</th>
            <th style="width: 20%;" scope="col">Источник</th>
            <th scope="col">Цитата</th>
            <th style="width: 200px;" scope="col">Автор</th>
            <th style="width: 250px;" scope="col">Поделиться</th>
            <th scope="col" style="width: 200px;"></th>
        </tr>
        </thead>
        <tbody>
        {% for quote in quotes %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td>
                    <a href="{{ quote.source }}" target="_blank">{{ quote.source }}</a>
                </td>
                <td class="quote-text">{{ quote.text|raw }}</td>
                <td>{{ quote.user.email }}</td>
                <td>
                    <span class="badge bg-success">{{ quote.sharedQuotes.count }}</span>
                    {% for share in quote.getShareTypes() %}
                        <span class="badge bg-info share-quote-btn"
                              data-id="{{ quote.id }}"
                              data-share-type="{{ constant('TYPE', share) }}"
                        >
                            {{ share.name }}
                        </span>
                    {% endfor %}
                </td>
                <td>
                    {% if (auth_user().id == quote.user_id) %}
                        <a href="{{ route('quotes.edit', quote.id) }}"
                           class="badge bg-warning button-manage-quote-link">Редактировать</a>
                        <form action="{{ route('quotes.destroy', quote.id) }}" method="POST">
                            {{ csrf_field() }}
                            {{ method_field('DELETE') }}
                            <button type="submit" class="badge bg-danger button-manage-quote-link">Удалить</button>
                        </form>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ quotes.links() }}

{% else %}
    <div class="alert alert-warning">Не добавлено ни одной цитаты</div>
{% endif %}
